In [8]:
import mysql.connector 

# connecting to db
cnx = mysql.connector.connect(
    host = "localhost",
    user = "root" ,
    passwd = "root"
)

#Initializing the cursor (object communicating with MySQL server)
cursor = cnx.cursor()

#show the existing databses 
cursor.execute('show databases')

for db in cursor:
    print(db)

('apbs',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [7]:
cursor.execute('create database APBS')

In [14]:
#Connecting to the new created database APBS
newCnx = mysql.connector.connect(
    host = "localhost",
    user = "root" ,
    passwd = "root", 
    database = "APBS"
)

cursor = newCnx.cursor()


#Creating a new table named students with two fields name, age
cursor.execute("create table students (name VARCHAR(200), age INTEGER(10))")

ProgrammingError: 1050 (42S01): Table 'students' already exists

In [15]:
cursor.execute("show tables") 
for table in cursor: 
    print(table)

('students',)

In [16]:
#show the table students values 
cursor.execute('select * from students')
for info in cursor: 
    print(info)

In [20]:
#Adding a new row in table 
sqlFormula = "insert into students (name, age) values (%s,%s)"
student1 = ("Amanda",22)
cursor.execute(sqlFormula,student1)

In [24]:
#Adding multiple values to the table 
sqlFormula = "insert into students (name, age) values (%s,%s)"
st = [("Sam",12),("Sam",32),("Sam",25)]
cursor.executemany(sqlFormula,st)

In [25]:
#Commiting to db (refreshing using the new data)
newCnx.commit()

In [26]:
#Where clause 
whereFormula = "select * from students where age=32"
cursor.execute(whereFormula)
#Get all the information provided by the cursor 
results = cursor.fetchall()
for res in results: 
    print(res)

('Sam', 32)

In [27]:
#Update formula 
updateFormula = "update students set age=10 where name='Sam'"
cursor.execute(updateFormula) 
newCnx.commit()